.rating label {
    display: block;
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    margin-right:10px ;
    width: 7em;
}

.radio-group {
    display: flex;
    gap: 5px;
}
