<div class="rating">
    <h2>Rating</h2>
    
    <div class="radio-group">
        <label>Mood</label>
        <input type="radio" name="mood" value="1">
        <input type="radio" name="mood" value="2">
        <input type="radio" name="mood" value="3">
        <input type="radio" name="mood" value="4">
        <input type="radio" name="mood" value="5">
        <input type="radio" name="mood" value="6">
    </div>
    
    <div class="radio-group">
        <label>Energetic</label>
        <input type="radio" name="Energetic" value="1">
        <input type="radio" name="Energetic" value="2">
        <input type="radio" name="Energetic" value="3">
        <input type="radio" name="Energetic" value="4">
        <input type="radio" name="Energetic" value="5">
        <input type="radio" name="Energetic" value="6">
    </div>
    <div class="radio-group">
        <label>Productivity</label>
        <input type="radio" name="Productivity" value="1">
        <input type="radio" name="Productivity" value="2">
        <input type="radio" name="Productivity" value="3">
        <input type="radio" name="Productivity" value="4">
        <input type="radio" name="Productivity" value="5">
        <input type="radio" name="Productivity" value="6">
    </div>
</div>
